@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/Site.css" rel="stylesheet" />
</head>
<body  class="container">

<img src="~/images/logo.png" class="logo" alt="logo" />

    <h1 class="h1"> This is a HomePage!</h1>
    <h3>My email ----11111@qq.com</h3>
</body>
</html>