<footer class="border-top footer text-muted text-center">
    <div class="container">
        Copyright  &copy; Book Store @DateTime.Now.Year
        @*    <a href="mailto:a283164069@outlook.com">a283164069@outlook.com</a>*@
        <custom-email my-email="a283164069@outlook.com" ></custom-email>
          
    </div>
</footer>