################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BookStoreWeb/obj
/BookStoreWeb/bin/Debug/netcoreapp3.1
/BookStoreWeb/.vs/BookStoreWeb
/BookStoreWeb/BookStoreWeb.csproj.user
